body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.card{
    margin-bottom:20px;
    border:none;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box textarea,
.box input[type="file"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 350px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="file"]:focus,
.box textarea:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="reset"], 
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="reset"]:hover, 
.box input[type="submit"]:hover {
    background: #2ecc71
}

.box a{
    text-decoration: none;
}


@media (max-width:996px){

    .box {
        left: 40%;
    }

}

@media (max-width:882px){

    .box {
        left: 30%;
    }

}


@media (max-width:777px){

    .box {
        left: 0%;
        width: 400px;
    }

}

@media (max-width:472){

    .box {
        width: 150px;
    }

    .box input[type="text"]:focus,
    .box input[type="file"]:focus,
    .box textarea:focus,
    .box input[type="password"]:focus {
    width: 110px;
    border-color: #2ecc71
    }   

    .box textarea,
    .box input[type="file"]{

        width: 100px;

    }

    .box input[type="text"],
    .box input[type="password"] {

        width: 100px;

    }

}
